<div class="dnd-group-chips">
  <ul class="list"
    dnd-sortable-container
    [sortableData]="dummyList"
  >
    <li class="list__parent-elem"
      *ngFor="let item of dummyList; let i = index"
      dnd-sortable
      [sortableIndex]="i"
      [dragData]="item"
      (onDragSuccess)="onItemDragSuccess(item)"
    >
    <div class="name" *ngIf="item.attributeDetails">
      {{checkTaxonomyName(item)}}
    </div>

      <ul class="list__parent-elem--container"
      *ngIf="item.operands && item.operands.length"
      >
        <li class="last-child"
          *ngFor="let childItem of item.operands"
        >
          <div>
            {{checkTaxonomyName(childItem)}}
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
