.no-list-style {
  list-style: none;
  padding: 2px;
  margin: 0;
}

.dnd-group-chips {
  .grouper {
    margin-bottom: 20px;
  }

  .list {
    @extend .no-list-style;
    background: white;
    &__parent-elem {
      background: red;
      margin: 15px 0;
      transition: all 0.2s ease;

      &.dnd-drag-start {
        transform:scale(0.5);
        opacity:0.7;
        border: 2px dashed #000;
      }

      &.dnd-drag-enter {
        opacity: 0.7;
        border: 2px dashed #000;
      }

      &.dnd-drag-over {
        border: 2px dashed #000;
      }

      &.dnd-sortable-drag {
        transform:scale(0.9);
        opacity:0.9;
        border: 1px dashed #000;
      }

      .name {
        background: white;
        padding: 2px;
        height: 30px;
        margin: 2px;
      }
      &--container {
        @extend .no-list-style;
      }      
    }
  }
    
}