<div class="dnd-group-chips">
  <nav class="grouper">
    <button *ngIf="selectedChipGroups.length > 1" (click)="group()">Group</button>        
    <button (click)="ungroup()">Ungroup</button>
    <button (click)="unselectAll()">Unselect All</button>
  </nav>

  <div class="dnd-group-chips__container"
    dnd-sortable-container
    [sortableData]="modifiedList"
    [dropZones]="['container-dropzone']"
  >
    <div class="dnd-group-chips__container--groups"
      *ngFor="let item of modifiedList; let i = index"
      dnd-sortable
      [sortableIndex]="i"
    >
      <div class="chip-group"
        dnd-sortable-container
        [sortableData]="item.operands"
        [dropZones]="['group-dropzone']"
      >
        <div class="chip-group__chip"
          *ngFor="let chip of item.operands; let j = index"
          dnd-sortable
          [sortableIndex]="j"
          [dragData]="chip"
        >
          {{chip.attributeDetails.taxonomyNodeName}}
        </div>
      </div>
    </div>
  </div>
  <!-- <ul class="list"
    dnd-sortable-container
    [sortableData]="modifiedList"
  >
    <li class="list__parent-elem"
      *ngFor="let item of modifiedList; let i = index"
      dnd-sortable
      dnd-droppable
      (onDropSuccess)="onDropSuccess($event)"
      [sortableIndex]="i"
      [dragData]="item"
      (onDragSuccess)="onItemDragSuccess(item)"
    >
      <ul class="list__parent-elem--container">
        <li class="last-child"
          *ngFor="let childItem of item.operands; let j = index"
        >
          <app-chip
            [chipCollection]="item"
            [chipData]="childItem"
            (onSelect)="selectChip($event)"
            [isLast]="checkIfIsLastChipGroup(item.operands.length, j, modifiedList.length, i)"
          >
          </app-chip>
        </li>
      </ul>
    </li>
  </ul> -->
</div>
