.container {
  border: 2px solid black;
  padding: 20px;

  .chip-group {
    background: lightblue;
    position: relative;

    .chip-container {
      z-index: 10;
      min-height: 60px;
    }

    .group-handle {
      position: absolute;
      width: 62px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
  }
}

.chip-chosen {
  opacity: 0.5;
}