.container {
  border: 2px solid black;
  padding: 20px;

  .chip-group {
    background: lightblue;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;

    .chip-container {
      z-index: 10;
    }

    .group-handle {
      position: absolute;
      width: 62px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
  }
}