<nav class="grouper">
    <button 
      *ngIf="selectedChipGroups.length > 1" 
      (click)="group()"
    >
      Group
    </button>        
    <button
      (click)="ungroup()"
    >
      Ungroup
    </button>
    <button
      *ngIf="selectedChipItems.length > 0"
      (click)="unselectAll()"
    >
      Unselect All
    </button>
  </nav>

<div class="container"
  [sortablejs]="modifiedList"
  [sortablejsOptions]="parentOptions"
  [runInsideAngular]="true"
>
  <div class="chip-group"
    *ngFor="let group of modifiedList; let i = index"
  >
    <div class="chip-container"
      [sortablejs]="group.operands"
      [sortablejsOptions]="options"
      [runInsideAngular]="true"
    >
      <div class="chip"
        *ngFor="let chip of group.operands; let j = index"
      >
        <app-sortable-chip
          class="chip-component"
          [chipCollection]="group"
          [chipData]="chip"
          [isLast]="checkIfIsLastChipGroup(group.operands.length, j, modifiedList.length, i)"
          (onSelect)="selectChip($event)"
          (onOperatorChange)="arrangeGroupOperands()"
          [previousChipOperator]="checkPreviousChipOperator(chip, group.operands)"
          [previousGroupOperator]="checkPreviousGroupOperator(group)"
        >
        </app-sortable-chip>        
      </div>
    </div>
    <div class="group-handle"></div>
  </div>
</div>
